<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="proyecto_de_analisis.My.MySettings.sisventaConnectionString"
            connectionString="Data Source=CARLOSPINEDA903\SQLEXPRESS;Initial Catalog=sisventa;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="proyecto_de_analisis.My.MySettings.TECNO_PCSConnectionString"
            connectionString="Data Source=CARLOSPINEDA903\SQLEXPRESS;Initial Catalog=TECNO_PCS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>